@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article#login-body {
  background-color: rgba(0, 0, 0, 0.4);
}

#login-body form {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: rgb(50, 50, 50);
  text-align: center;
  border-radius: 10px;

  animation-name: login_box_top_down;
  animation-duration: 0.8s;

  -webkit-animation-name: login_box_top_down;
  -webkit-animation-duration: 0.8s;

  -moz-animation-name: login_box_top_down;
  -moz-animation-duration: 0.8s;
}

#login-body form .login_close {
  text-align: right;
}

#login-body form span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: dodgerblue;
  cursor: pointer;
}

#login-body form span:hover {
  color: rgb(220, 85, 96);
}

#login-body form h2 {
  color: dodgerblue;
  font-weight: 500;
  font-family: "Jua", sans-serif;
}

#login-body form input,
#login-body button {
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 200px;
  padding: 16px 10px;
  background-color: rgb(50, 50, 50);
  outline: none;
  border: 0;
  transition: 0.5s;
}

#login-body form input {
  font-family: "Nanum Gothic Coding", monospace;
  border-bottom: 2px solid dodgerblue;
  background-color: rgb(50, 50, 50);
  outline: none;
  color: #ddd;
}

#login-body form input:focus {
  width: 280px;
  background-color: rgb(50, 50, 50);
  border-bottom: 2px solid dodgerblue;
}

#login-body form input:-webkit-autofill,
#login-body form input:-webkit-autofill:hover,
#login-body form input:-webkit-autofill:focus,
#login-body form input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out" !important;
  -webkit-transition-delay: 9999s !important;
}

#login-body form button {
  border-radius: 4px;
  border: 2px solid dodgerblue;
  color: dodgerblue;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}

#login-body form button:hover {
  background-color: dodgerblue;
  color: ghostwhite;
  font-weight: bold;
}

#login-body form .social_logobox {
  display: flex;
  justify-content: center;
}

#login-body form .social_logobox img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0px 10px;
}

p#login-status-text {
  font-family: "Nanum Gothic Coding", monospace;
  color: rgb(158, 27, 27);
}

@keyframes login_box_top_down {
  from {
    top: -300px;
    /*투명색*/
    opacity: 1;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}
