.container-searchList {
  background-color: rgb(50, 50, 50) !important;
  width: 100%;
}

section.container br {
  background: rgb(50, 50, 50);
}

.container-4 {
  background: rgb(50, 50, 50);
  overflow: hidden;
  width: 90%;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  font-family: "Jua", sans-serif;
}

.container-4 input#search {
  width: 100%;
  height: 49px;
  background: white;
  border: none;
  font-size: 10pt;
  color: rgb(50, 50, 50);
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search:focus,
.container-4 input#search:hover {
  outline: none;
}

.container-4 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-4 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}

.container-4 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-4 button.icon {
  margin: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  border: none;
  background: rgb(50, 50, 50);
  height: 50px;
  width: 50px;
  color: #aaa;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4:hover button.icon:hover {
  background: dodgerblue;
  color: white;
}

section.container-searchList h2 {
  margin: 0px 0px 0px 30px;
}

#search-list-table {
  border-top: 1px solid white;
  padding: 10px 0px 0px 0px;
  text-align: left;
}

#search-list-table td:nth-child(2) {
  width: 30% !important;
}

#search-list-table button {
  outline: none;
  border-radius: 4px;
  background: transparent;
  border: 1px solid dodgerblue;
  color: dodgerblue;
  padding: 4px 6px;
}

#search-list-table button:hover {
  background: dodgerblue;
  border: 1px solid transparent;
  color: white;
  transition: 0.5s;
}
