@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article#user-body {
  background-color: rgba(0, 0, 0, 0.4);
}

#user-body form {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: rgb(50, 50, 50);
  text-align: center;
  border-radius: 10px;

  animation-name: login_box_top_down;
  animation-duration: 0.8s;

  -webkit-animation-name: login_box_top_down;
  -webkit-animation-duration: 0.8s;

  -moz-animation-name: login_box_top_down;
  -moz-animation-duration: 0.8s;
}

#user-body form .user_close {
  text-align: right;
}

#user-body form span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: dodgerblue;
  cursor: pointer;
}

#user-body form span:hover {
  color: rgb(220, 85, 96);
}

#user-body .user_img {
  text-align: left;
}

#user-body form img {
  width: 50px;
  height: 50px;
}

#user-body form legend {
  font-family: "Jua", sans-serif;
  color: dodgerblue;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  margin: 10px;
}

#user-body form legend p {
  border-bottom: 2px solid dodgerblue;
  color: ghostwhite;
  font-family: "Jua", sans-serif;
  font-size: 15px;
  text-align: right;
  padding: 10px;
  margin: 10px;
}

@keyframes login_box_top_down {
  from {
    top: -300px;
    /*투명색*/
    opacity: 1;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}
