extends layout

block content
  head
    title CISUM Player
  body
    nav
      ul
        li
          a(href="/").fab.fa-napster
        li
          a(href="/cisum/login").fas.fa-check
    section(id="main_section")
      aside(id="left_menu")
        include ./cisumList.pug
      section(id="content")
        div(id="playlist-body")
          include ./playList.pug
      aside(id="right_menu")
        div(id="player-body").loading
          include ./player.pug
  footer
    address Contact US
      a(href="https://www.youtube.com/")
        i.fab.fa-youtube
      a(href="https://www.instagram.com/plutorxr/").fab.fa-instagram