extends layout

block content
  head
    title CISUM Player
  body
    nav
      ul
        li
          a(href="/").fab.fa-napster
        li
          a(id="login_a").fas.fa-toggle-off
    section(id="main-section")
      //- 검색아이콘 넣어놓은 div 추가
      div(id="search-icon")
      
        i.fas.fa-search
      div.left-aside
        aside(id="left-menu")
          include ./cisumList.pug
      section(id="content")
        div(id="playlist-body")
          include ./playList.pug
      aside(id="right-menu")
        div(id="player-body").loading
          include ./player.pug
  footer
    div.player-contoller
      button(type="button", id="prev_btn").fas.fa-fast-backward
      button(type="button", id="sleep_btn").fas.fa-play
      button(type="button", id="next_btn").fas.fa-fast-forward
      button(type="button", id="stop_btn").fas.fa-stop
      button(type="button", id="sound_btn").fas.fa-volume-up
      input(type="range", id="volume_slider", style="padding-center:18px", min="0", max="100")
    div.player-title
      h4.title 플레이 영상 제목