script(src="/javascripts/join.js")
link(rel="stylesheet", href="/stylesheets/join.css")
body
    form(id="join-form", method="post")
        div.join_close
            a(id="login-back") Login
            span(id="join-span") &times;
        fieldset
            legend 필수 입력 사항
            p(id="join-status-text")
            table(id="join-table")
                tr
                    td 이메일
                    td
                        input(id="email", type="email", name="cs_email", placeholder="email을 입력해주세요", spellcheck="false")
                tr
                    td 비밀번호
                    td
                        input(id="password", type="password", name="cs_password", placeholder="비밀번호를 입력해주세요")
                tr
                    td 비밀번호 확인
                    td
                        input(id="re-password", type="password", placeholder="비밀번호 재입력")
        fieldset(id="birth-fieldset")
            legend 추가 입력 사항
            table(id="birth")
                tr
                    td
                        label 생년월일
                    td
                        input(type="text", id="datepicker", name="cs_date", placeholder="생년월일을 입력해주세요")
        div.join_move_login
            button(type="button", id="btn-join") 회원가입