link(rel="stylesheet", href="/stylesheets/join.css")
script.
    $(document).ready(function() {
        $("#join-span").click(function () {
            $("form#join-form").css("display", "none");
            $("div#login-modal").css("display", "none");
        });

        // 공백이면 넘어가지 못하게 하는 유효성 체크
        $("#email-check").click(function(){
            let email = $("#email").val();
            if(email == ""){
                alert("이메일을 입력해주세요 :)")
                $("#email").focus();
                return false;
            }
        })

        // 회원가입 버튼 클릭했을때의 유효성 체크
        $(document).on("click", "#join-a", function() {
            let email = $("#email").val();
            let password = $("#password").val();
            let re_password = $("#re-password").val();

            if(email == ""){
                alert("이메일을 입력해주세요 :)");
                $("#email").focus();
                return false;
            } else if (password == "") {
                alert("비밀번호를 입력해주세요:)");
                $("#password").focus();
                return false;
            } else if (re_password == "") {
                alert("비밀번호를 다시한번 입력해주세요");
                $("#re-password").focus();
                return false;
            }
            
            $.ajax({
                url: "/cisum/login",
                type: "GET", 
                success: function(result) {
                    register(email, password);
                    $("div#login-modal").html(result);
                },
                error: function(error){
                    alert("서버 통신 오류 :(")
                },
            });
        });
    });
body
    form(id="join-form", method="post")
        div.join_close
            span(id="join-span") &times;
        fieldset
            legend 필수 입력 사항
            table(id="join-table")
                tr
                    td 이메일
                    td
                        input(id="email", type="email", name="cs_email", placeholder="email을 입력해주세요")
                    td
                        button(type="btton", id="email-check") 인증
                tr
                    td 비밀번호
                    td
                        input(id="password", type="password", name="cs_password", placeholder="비밀번호를 입력해주세요")
                tr
                    td 비밀번호 확인
                    td
                        input(id="re-password", type="password", placeholder="비밀번호 재입력")
        fieldset(id="birth-fieldset")
            legend 추가 입력 사항
            table(id="birth")
                tr
                    td
                        label 생년월일
                    td
                        input(type="text", id="datepicker", name="cs_date", placeholder="생년월일을 입력해주세요")
        div.join_move_login
            a(id="join-a") 회원가입