doctype html
html(lang="ko")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title CISUM PLAYER
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Jua&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap")
    link(rel="stylesheet", href="/stylesheets/index.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="https://kit.fontawesome.com/7917d00817.js")
    script(src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js")
    script(src="/javascripts/firebase.js")
    script(src="/javascripts/first-connect.js")
    script(src="/javascripts/index.js")
    style.
      #first-connect-body {
        display: block;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height:100%;
        overflow: auto;
        background-color: rgb(50, 50, 50);
        text-align: center;
      }

      div#login-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }

    div(id="first-connect-body")
      video(src="../video/cisum_logo.mp4", width="80%", autoplay, muted)
    div(id="login-modal")
  body
    block content