doctype html
html(lang="ko")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title CISUM PLAYER
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap")
    link(rel="stylesheet", href="/stylesheets/index.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="https://kit.fontawesome.com/7917d00817.js")
    script(src="/javascripts/first-connect.js")
    style.
      #join-body {
        display: block;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(60, 60, 60);
        text-align: center;
      }

    div(id="first-connect-body")
      video(src="../video/cisum_logo.mp4", width="100%", autoplay, muted)
      
  body
    block content