link(rel="stylesheet", href="/stylesheets/login.css")
body
    article(id="login_body")
        h2 LOGIN
        input(id="email", name="email", placeholder="ID", typw="text")
        input(id="password", name="password", placeholder="Password", type="password")
        button 로그인
        button(id="register", type="button") 회원가입