script.
    $(document).ready(function() {
        $("#login-span").click(function () {
            $("div#login-modal").css("display", "none");
        });

        $("#register").click(function () {
            $.ajax({
                url: "/cisum/join",
                type: "GET",
                success: function (result) {
                    $("div#login-modal").html(result);
                },
                error: function (error) {
                    alert("서버 통신 오류 :(");
                },
            });
        });

        $("#login-btn").click(function() {
            // 로그인 공백일때의 유효성 체크
            var email = $("#userid").val();
            var password = $("#password").val();

            if(email == ""){
                alert("이메일을 입력해주세요 :)")
                $("#userid").focus();
                return false;
            } else if (password == ""){
                alert("비밀번호를 입력해주세요 :)")
                $("#password").focus();
                return false;
            }
            login(email, password);
            // 유저정보 Get
            getUser();
        });
    });
link(rel="stylesheet", href="/stylesheets/login.css")
article(id="login-body")
    form
        div.login_close
            span(id="login-span") &times;
        h2 LOGIN
        input(name="m_userid", id="userid", placeholder="E-mail", type="text")
        input(name="m_password", id="password", placeholder="Password", type="password")
        button(type="button", id="login-btn") 로그인
        button(id="register", type="button") 회원가입