script(src="/javascripts/playList.js")
style.
    #play-handle-table {
        border-top: 1px solid white;
    }

    h1 {
        margin: 0px 0px 0px 20px;
    }
br
h1 재생화면
table(id="play-handle-table").table.table-striped.table-hover.thead-dark.table-borderless
    tr
        td(colspan="6")
            div(id="player")
            