script(src="/javascripts/user.js")
link(rel="stylesheet", href="/stylesheets/user.css")
article(id="user-body")
    form
        div.user_close
            span(id="user-span") &times;
        div.user_img
            img(id="profile-img", src="../images/user_noImage.png")
        legend 이메일
            p(id="email-text")
        div.button-box
            button(type="button" id="signOut") 로그아웃